<!DOCTYPE html>
<html>
	<head>
		<title>Emergency</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="../css/module.css">
	<head>
	<body class="um-module">
            <ul>
                <li>
                    <a href="phone:+441613069966">University emergencies/security line (24 hours) +44 161 306 9966</a>
                </li>
                <li>
                    <a href="phone:+441613069966">First Assist medical/security assistance line for staff and students abroad (24 hours) +44 208 763 3155</a>
                </li>
                <li>
                    <a href="http://www.studyabroad.manchester.ac.uk/students-abroad/emergencies">University students abroad</a>
                </li>
                <li>
                    <a href="http://www.staffnet.manchester.ac.uk/services/insurance/travel/business-travel-insurance/emergency-assistance/">University staff abroad</a>
                </li>
            </ul>
	</body>
</html>