<!DOCTYPE html>
<html>
	<head>
		<title>Emergency</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="../css/module.css">
	<head>
	<body class="um-module">
           
            <div class="list-group">
                <a class="list-group-item" href="phone:+441613069966"><h4 class="list-group-item-heading">University emergencies/security line</h4><p class="list-group-item-text">(24 hours) +44 161 306 9966</p></a>
                <a class="list-group-item" href="phone:+441613069966"><h4 class="list-group-item-heading">First Assist medical/security assistance line</h4><p class="list-group-item-text">For staff and students abroad (24 hours) +44 208 763 3155</p></a>
                <a class="list-group-item" href="#" onclick="window.open('http://www.studyabroad.manchester.ac.uk/students-abroad/emergencies', '_system');"><h4 class="list-group-item-heading">University students abroad</h4><p class="list-group-item-text">http://www.studyabroad.manchester.ac.uk/students-abroad/emergencies</p></a>
                <a class="list-group-item" href="#" onclick="window.open('http://www.staffnet.manchester.ac.uk/services/insurance/travel/business-travel-insurance/emergency-assistance/', '_system');"><h4 class="list-group-item-heading">University staff abroad</h4><p class="list-group-item-text">http://www.staffnet.manchester.ac.uk/services/insurance/travel/business-travel-insurance/emergency-assistance/</p></a>
            </div>
	</body>
</html>