<!DOCTYPE html>
<html>
	<head>
		<title>Find a PC</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="../css/module.css">
	<head>
	<body class="um-module">
		<!--
		| =====================
		| Courses View
		| =====================
		-->
		<iframe id="pcs" src="http://www.itservices.manchester.ac.uk/clusteravailability/avail.php?html">
			
                    
		</iframe>
	</body>
</html>