<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>


        <meta charset="utf-8"/>

        <!--CSS Dependencies-->
        <link type="text/css" rel="stylesheet" href="../css/module.css"/>

        <!--JavaScript Dependencies-->
        {{#dev}}
        <script type="text/javascript" src="../js/lib/jquery/jquery.js"></script>
        {{/dev}}
        {{^dev}}
        <script type="text/javascript" src="../js/lib/jquery/jquery.min.js"></script>
        {{/dev}}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    </head>

    <body class="um-module" style="height: 100%;" >
        
            <div id="controls" style="font-size: larger; line-height: 2em; background-color: #FFFFFF; border: 1px solid black;">
                
                <a href="javascript:;" style="margin-left: 5px" class="um-map-search"><span class="glyphicon glyphicon-search"></span> Search</a>
                <a href="javascript:;" style="margin-left: 10px; margin-right: 10px;" class="um-map-whereami"><span class="glyphicon glyphicon-map-marker"></span> Where am I</a>
                <a href="javascript:;" style="margin-right: 5px;" class="um-map-busses "><span class="glyphicon glyphicon-road"></span> 147 Tracker</a>
            </div>
        <!--
        | =====================
        | Map View
        | =====================
        -->
        <div id="map" class="um-map" >
            <div id="mapCanvas" class="um-map-canvas"></div>
            
        </div>


        <!--JavaScript Source Files-->

        <script type="text/javascript" src="../js/modules/bustracker.js"></script>
        <script type="text/javascript" src="../js/modules/map.js"></script>
        <script type="text/javascript">
            (function ($) {
                $(function() {
                    
                    BUSTRACKER.init(CAMPUS_MAP.map);
                    var running = false;
                    $(".um-map-busses").on("click tap", function() {
                        if (running) {
                            BUSTRACKER.stop();
                            running = false;
                        } else {
                            BUSTRACKER.start();
                            running = true;
                        }
                    });
                    
                    $(".um-map-whereami").on("click tap", function() {
                        CAMPUS_MAP.whereami();
                    });
                    
                    CAMPUS_MAP.map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push($("#controls").get(0));                    
                    
                });
            })(jQuery);
        </script>
    </body>
</html>